/*
PALETA DE COLORES:
	NEGRO=BLACK
	BLANCO=WHITE
	DORADO= #E3B237
	AMARILLO FUERTE= #FFB908

FUENTE:
	font-family: 'New Rocker', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

//----------TRANSFORMACIONES-------//

@keyframes tituloAgranda{
	0%{transform: scale(1);}
	50%{ transform: scale(0.5);
	}
	100%{ transform: scale(1);
	}
}

@keyframes tituloMapa{
	0%{
		color: #E3B237;
	}
	50%{ color: black;
	}
	100%{
		color: #E3B237;
	}
}

*{
	margin: 0;
	padding: 0;
}
.bg-principal{
	background: linear-gradient($miBackground)
}

//--------------------------------INDEX/CONTACTO/PERSONAL/GALERIA/RECIBE---------------------------//

//--------------------------------------BODY + ENCABEZADO---------//
#body{
	min-height: 100vh;
	background: black;
}
.encabezado{
	min-height: 15vw;
	img{
		width: 12vw;
		filter: brightness(1.1);
		mix-blend-mode: multiply;
	}
	#fotologo{
		padding-left: 8vw;
	}
	.titulo{
		font-size: 7vw;
		font-family: $miFuente;
		width: 100%;
		animation-name: tituloAgranda;
		animation-iteration-count: infinite;
		animation-duration: 5s;
	}
}
//--------------------------------------BARRA DE MENU---------//	
.nav{
	border-top: $borde1px;
	border-bottom: $borde1px;
	width: 100%;
	min-height: 5vw;
	padding: 20px 0px;
	.a1{
		font-family: $miFuente;
		color: black;
		font-size: 2vw;
		text-align: center;
		font-weight: 750;
		padding: 0vw 1vw;
		border-radius: 40px;
		:hover{
			background: #E3B237;
			border: $borde1px;
		}
	}
	.seleccionado{
		background: #E3B237;
		border: $borde1px;
	}
	.a1especial{
		font-family: $miFuente;
		color: black;
		font-size: 2vw;
		text-align: center;
		font-weight: 750;
		padding: 0vw 1vw;
		border-radius: 40px;
	}
}
.navbar-light .navbar-toggler{
	border: 5px solid black;
	color: black;
}
//--------------------------------------CUERPOS---------//
#main{
	background: linear-gradient($miBackground, #FFB908, $miBackground);
	display: grid;
	grid-template-areas:
	"main1"
	"main2"
	"main3";
	grid-template-rows: repeat(3, 50vw);
}
.main1{
	grid-area: main1;
	div img{
		width: 20vw;
	}
}
 .main2{
	grid-area: main2;
	div img{
		width: 12vw;
		padding: 10px;
	}
}
.main3{
	grid-area: main3;
	div img{
		width: 18vw;
		padding: 15px;
	}
}
.mainTitulo{
	font-size: 3vw;
	font-family: $miFuente;
	color: #E3B237;
	padding: 5vw 0vw 1vw;
}
.mainContenido{
	font-size: 2.5vw;
	flex-grow: 1;
	background: #E3B237;
	max-height: 29vw;
	min-width: 80vw;
	border-radius: 15px;
	border: 2px solid black;
}
#parrafo{
	max-width: 50vw;
	max-height: 20vw;
	font-size: 1.8vw;
	font-weight: 800;
	p{
		margin: 0px;
	}
}
//--------------------------------------MAPS---------//

 #mapaTitulo{
	font-family: $miFuente;
	color: #E3B237;
	animation-name: tituloMapa;
	animation-iteration-count: infinite;
	animation-duration: 7s;
	flex-grow: 1;
	p{
		font-size: 4vw;		
		text-shadow: 10px 10px 10px#E3B237;
	}
 }
.mapa{
	margin: 50px;
	padding: 25px;
	background: #E3B237;
	border-radius: 50px;
	iframe{
		width: 40vw;
		height: 21vw;
		border-radius: 50px;
	}
}
//--------------------------------------BOTON PEDIDO---------//
.botonPedido{
	width: 7.3vw;
	bottom: 0;
	right: 0;
	padding: 1vw 1vw;
	animation-name: rotacion;
	animation-iteration-count: infinite;
	animation-duration: 4s;
}

//--------------------------------------BARRA DE REDES---------//
.redes{	
	border-top: $borde1px;
	min-height: 8vw;
	background: linear-gradient($miBackground);
	div{
		border: 4px solid black;
		background: #E3B237;
		border-radius: 45px;
		margin: 15px;
		img{
			width: 4vw;
			padding: 1vw 0.7vw;
		}
	}
}
//--------------------------------------HTML CONTACTO---------//
#contacto{
	padding: 1vw;
}
form{
	input{
		height: 2.5vw;
		font-size: 1.1vw;
		border: 2px solid #FFB908;
		color: black;
	}
	label{
		font-weight: 500;
		font-size: 2.1vw;
		vertical-align: top;
		padding: 0.7vw 0.7vw;
		color: #E3B237;
		font-family: $miFuente;
	}
}
textarea{
	width: 14vw;
	height: 14vw;
	resize: none;
	border: 2px solid #FFB908;
	font-size: 1.1vw;
	color: black;
}
//--------------------------------------BOTONES DE CONTACTO---------//
#botones{
	justify-content: space-evenly;
	padding: 1vw;
	input{
		margin: 1vw;
		padding-right: 1vw;
		padding-left: 1vw;
		font-size: 1.4vw;
	}
}
#cuerpoContacto{
	flex-grow: 1;
}

//-------------------------MENU--------------------------//
//-----------------------------MENU POR IZQUIERDA----------------------------//
.menuI{
	border: 8px solid #FFB908;
	height: 30vw;
	width: 55vw;
	margin: 0.3vw 0vw 3.5vw 1.4vw;
	border-radius: 5.8vw;
	&:hover{
		border: 8px solid white;
	}
	img{
		width: 17vw;
		padding: 2vw;
		border-radius: 5.8vw;
	}
}
#descripcion{
	min-height: 18vw;
	margin: 15px;
	#productoTitulo{
		color: #E3B237;
		font-size: 3vw;
		font-family: $miFuente;
		margin: 0px;
	}
	ul{
		color: #E3B237;
		font-size: 1.4vw;
		font-family: $miFuente;
		margin: 0px;
		list-style-type: none;
	}
	#precios{
		font-size: 2vw;
		padding: 5px;
		li{
			padding: 2px;
		}
	}
}
//-----------------------------MENU POR DERECHA----------------------------//
.menuD{
	border: 10px solid #FFB908;
	height: 30vw;
	width: 55vw;
	margin: 0.3vw 1.4vw 3.5vw 0vw;
	border-radius: 5.8vw;
	&:hover{
		border: 8px solid white;
	}
	img{
		width: 20vw;
		padding: 2vw;
		border-radius: 5.8vw;
	}
	#descripcion{
		min-height: 18vw;
		margin: 15px;
	}
}
//-------------------------RECIBE------------------------//
#recibe{
	font-size:5vw;
	color: #FFB908;
	font-family: $miFuente;
	text-align: center;
}

//--------------------------GALERIA----------------------------//
.containerCarrusel{
	max-width: 46vw;
	min-width: 46vw;
	max-height: 31vw;
	min-height: 30vw;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 100px;
	img{
		max-width: 46vw;
		max-height: 30vw;
	}
	.galeriaBurger{
		color: #E3B237;
		font-size: 3vw;
		font-family: $miFuente;
		margin: 0px;
	}
}
#parrafoGaleria{
	color: #E3B237;
	font-size: 3vw;
	font-family: $miFuente;
}
.fotoCombo{
	max-width: 30vw;
	padding: 10px;
	background-color: #FFB908;
	border-radius: 20px;
	margin: 20px;
	&:hover{
		background-color:white;
	}
}
.contenidoCombo{
	font-size: 2vw;
	color: #E3B237;
	font-family: $miFuente;
}
//-------------------------PERSONAL------------------------//
.personal{
	div{
		padding: 20px;
	}
	p{
		text-align: center;
		font-size: 2vw;
		color: #FFB908;
		font-family: $miFuente;
	}
	img{
		width: 15vw;
	}
}

//-----------------------------MEDIA 1024PX (Tengo un deskopt grande)----------------------------//

@media all and (max-width: 1024px){

	.encabezado{
		min-height: 28vw;
		img{
			width: 20vw;
		}
		.titulo{
			font-size: 7vw;
		}
	}
	.nav{
		min-height: 15vw;
		.a1{
			font-size: 3.5vw;
		}
		.a1especial{
			font-size: 3.5vw;
		}
	}
	#main{
		grid-template-rows: repeat(3, 50vw);
	}
	.main1 .mainTitulo{
		font-size: 5vw;
	}
	.main2 .mainTitulo{
		font-size: 5vw;
	}
	.main3 .mainTitulo{
		font-size: 5vw;
	}
	.mapa iframe{
		min-height: 25vw;
	}
	#mapaTitulo p{
		font-size: 5.5vw;
		text-align: center;
	}
	.redes{
		min-height: 18vw;
		div img{
			width: 8vw;
		}
	}
	.botonPedido{
		width: 10vw;
	}
	.menuI{
		width: 90%;
		margin: 2vw 5vw;
		height: 40vw;
		border: 6px solid #FFB908;
		#descripcion{
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-grow: 1;
			text-align: center;
		}
		img{
			width: 25vw;
		}
	}
	.menuD{
		width: 90%;
		margin: 2vw 5vw;
		height: 40vw;
		border: 6px solid #FFB908;
		#descripcion{
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-grow: 1;
			text-align: center;
		}
		img{
			width: 25vw;
		}
	}
	#descripcion{
		#productoTitulo{
			font-size: 3.5vw;
		}
		ul{
			font-size: 2vw;
		}
		#precios{
			font-size: 2.5vw;
		}
	}
	.containerCarrusel{
		max-width: 70vw;
		min-width: 70vw;
		max-height: 45vw;
		min-height: 44vw;
		img{
			max-width: 70vw;
			max-height: 54vw;
		}
		.galeriaBurger{
			font-size: 5vw;
		}
	}
	.fotoCombo{
		max-width: 40vw;
	}
	.contenidoCombo{
		font-size: 4vw;
	}
	#parrafoGaleria{
		font-size: 8vw;
	}
	.personal{
		p{
			font-size: 4vw;
		}
		img{
			width: 35vw;
		}
	}
	form{
		input{
			height: 5vw;
			font-size: 3.1vw;
			border: 3px solid #FFB908;
		}
		label{
			font-weight: 550;
			font-size: 4.1vw;
		}
	}
	textarea{
		width: 37vw;
		height: 20vw;
		border: 3px solid #FFB908;
		font-size: 3vw;
	}
	#botones input{
		margin: 3vw;
		padding-right: 4vw;
		padding-left: 4vw;
		font-size: 3vw;
	}
}

//-----------------------------MEDIA 900PX----------------------------//
@media all and (max-width: 900px){
	#main{
		grid-template-rows: repeat(3, 80vw);
	}
	.main1 div img{
		width: 25vw;
	}
	.main2 div img{
		width: 18vw;
	}
	.main3 div img{
		width: 28vw;
	}
	.mainContenido{
		max-height: 50vw;
		min-width: 90vw;
	}
	#parrafo{
		font-size: 2.8vw;
		align-self: flex-start;
	}
}
//-----------------------------MEDIA 768PX----------------------------//
@media all and (max-width: 768px){
	.encabezado{
		.titulo{
			font-size: 9vw;
		}
	}
}
//-----------------------------MEDIA 550PX----------------------------//
@media all and (max-width: 550px){

	.encabezado{
		min-height: 40vw;
		img{
			width: 30vw;
		}
		.titulo{
			font-size: 10vw;
		}
	}
	.nav{
		min-height: 20vw;
		.a1{
			font-size: 5.5vw;
		}
		.a1especial{
			font-size: 5.5vw;
		}
	}
	#main{
		grid-template-rows: repeat(3, 100vw);
	}
	.main1{
		.mainTitulo{
			font-size: 5.5vw;
		}
		div img{
			width: 30vw;
		}
	}
	.main2{
		.mainTitulo{
			font-size: 5.5vw;
		}
		div img{
			width: 22vw;
		}
	}
	.main3{
		.mainTitulo{
			font-size: 5.5vw;
		}
		div img{
			width: 38vw;
		}
	}
	.mainContenido{
		max-height: 70vw;
	}
	#parrafo{
		font-size: 3.6vw;
	}
	.mapa{
		padding: 10px;
		margin-right: 35px;
		iframe{
			max-width: 35vw;
		}
	}
	#mapaTitulo{
		margin-left: 15px;
		p{
			font-size: 6.5vw;
		}
	}
	.redes{
		min-height: 18vw;
		div{
			margin: 5px;
			border: 3px solid black;
			img{
				width: 8vw;
			}
		}
	}
	.botonPedido{
		width: 14vw;
	}
	.menuI{
		width: 90%;
		margin: 2vw 5vw;
		height: 47vw;
		border: 6px solid #FFB908;
	}
	.menuD{
		width: 90%;
		margin: 2vw 5vw;
		height: 47vw;
		border: 6px solid #FFB908;
	}
	.containerCarrusel{
		max-width: 90vw;
		min-width: 90vw;
		max-height: 65vw;
		min-height: 64vw;
		img{
			max-width: 90vw;
			max-height: 74vw;
		}
		.galeriaBurger{
			font-size: 6vw;
		}
	}
	.personal{
		p{
			font-size: 3.4vw;
		}
		img{
			width: 35vw;
		}
		div{
			flex-direction: column;
			align-items: center;
		}
		p{
			font-size: 5vw;
		}
	}
	form{
		input{
			height: 7vw;
			font-size: 3.5vw;
			border: 3px solid #FFB908;
		}
		label{
			font-weight: 550;
			font-size: 4.6vw;
		}
	}
	textarea{
		width: 40vw;
		height: 25vw;
		border: 3px solid #FFB908;
		font-size: 3.5vw;
	}
	#botones input{
		margin: 3.8vw;
		padding-right: 4.5vw;
		padding-left: 4.5vw;
		font-size: 3.8vw;
	}
}
//-----------------------------MEDIA 450PX----------------------------//
@media all and (max-width: 450px){
	#main{
		grid-template-rows: repeat(3, 140vw);
	}
	.main1 div img{
		width: 40vw;
	}
	.main2 div img{
		width: 24vw;
	}
	.main3 div img{
		width: 48vw;
	}
	.mainContenido{
		max-height: 130vw;
		min-width: 100vw;
	}
	#parrafo{
		font-size: 5vw;
		align-self: flex-start;
	}
	#descripcion{
		#productoTitulo{
			font-size: 4.4vw;
		}
		ul{
			font-size: 3vw;
		}
		#precios{
			font-size: 3.7vw;
		}
	}
	.menuD{
		height: 60vw;
		img{
			width: 28vw;
		}
	}
	.menuI{
		height: 60vw;
		img{
			width: 28vw;
		}
	}
	#mapaTitulo{
		display: none !important;
	}
	.mapa{
		flex-grow: 1;
		height: 45vw;
		iframe{
			width: 100%;
			max-width: 100%;
			height: 100%;
		}
	}
}
//-----------------------------MEDIA 340PX----------------------------//
@media all and (max-width: 340px){
	.nav{
		min-height: 20vw;
		.a1{
			font-size: 7.5vw;
		}
		.a1especial{
			font-size: 7.5vw;
		}
	}
}
//-----------------------------MEDIA 280PX----------------------------//
@media all and (max-width: 280px){
	#descripcion{
		#productoTitulo{
			font-size: 5.8vw;
			padding-bottom: 5px;
		}
		ul{
			font-size: 3.8vw;
		}
		precios{
			font-size: 4vw;
		}
	}
	.menuD{
		height: 90vw;
		img{
			width: 28vw;
		}
	}
	.menuI{
		height: 90vw;
		img{
			width: 28vw;
		}
	}
	form{
		input{
			height: 10vw;
			font-size: 4.8vw;
		}
		label{
			font-weight: 550;
			font-size: 5vw;
		}
	}
	textarea{
		width:56vw;
		font-size: 5vw;
	}
	#botones input{
		margin: 3.8vw;
		padding-right: 4.5vw;
		padding-left: 4.5vw;
		font-size: 6vw;
	}
}
//-----------------------------MEDIA 250PX----------------------------//
@media all and (max-width: 250px){
	.fixedEspecial{
		position: fixed;
		bottom: 0;
		width: 100%;
	}
}